/* <!-- Pick a nice background-color,
  font-family, color, font-size and line-height for the --> */

body {
  background-color: dimgray;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  line-height: small;
  background-image: url("images/image2\ css.jpg");
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;

}

h2, h3 {
font-family: Arial, Helvetica, sans-serif;
color: rgb(48, 44, 22);
}

h1 {
  font-family: Zen Kurenaido;
  font-weight: bold;
  color: rgb(31, 29, 22);

}

.img-circle {
  border-radius: 50%;
}

.shadowed {
  box-shadow: 5px 5px 3px black;
}

a {
  color: rgb(204, 18, 18);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.conteneur {

  text-align: center;
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;

}
.card {
  background: white;
  border-radius: 5px;
  width: 350px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: 59px;
}
